[submodule "iluvu"]
	path = iluvu
	url = https://github.com/Limboid/iluvu.git
[submodule "computatrum.io"]
	path = computatrum.io
	url = https://github.com/Limboid/computatrum.io.git
[submodule "boid-net"]
	path = boid-net
	url = https://github.com/Limboid/boid-net.git
[submodule "limboid-robot"]
	path = limboid-robot
	url = https://github.com/Limboid/limboid-robot.git
[submodule "limboid-robot-services"]
	path = limboid-robot-services
	url = https://github.com/Limboid/limboid-robot-services.git
[submodule "limboid-llc"]
	path = limboid-llc
	url = https://github.com/Limboid/limboid-llc.git
